*{
    padding: 0px;
    margin: 0px;
}

.username-face {
    border-bottom: 1px solid gray;
    padding: 0px 5px;
}

.btn-logout a {
    color: white;
}

button.btn.btn-block.btn-logout.btn-primary.disabled {
    /* display: inline-block; */
    width: 100%;
    /* margin: 3% -11%; */
    background: #7fff0000;
    margin-bottom: 6%;
    cursor: pointer;
}

a.brand-link.custom-a {
    display: inline-block;
    border-bottom: unset;
    margin-left: 10%;
}

button.btn.btn-block.btn-outline-secondary.custom-btn-add {
    width: 10%;
    float: right;
}

h3.card-title.custom-card-order {
    display: inline-block;
    padding-top: 5px;
}

